%div.container-fluid
  %div.row-fluid#breakfast-all-day
    %div.col-md-3
    %div.col-md-6
      %h3
        Breakfast - All Day
      %br
      %div.table-responsive
        %table.table.table-striped
          %tr
            %td
              %h6
                Quiche
              %div.sans-serif.food-desc
                Meat or Veggie.  Options change daily.
            %td
              %h6
                $5.75
          %tr
            %td
              %h6
                French Toast
              %div.sans-serif.food-desc
                Caramelized French Toast made with brioche
            %td
              %h6
                $5.75
          %tr
            %td
              %h6
                Baked Hashbrowns
              %div.sans-serif.food-desc
                Eggs, hashbrowns, ham, sausage, bacon and cheddar
            %td
              %h6
                $5.75
          %tr
            %td
              %h6
                Fruit Cup
              %div.sans-serif.food-desc
                Seasonal fruits in a cup
            %td
              %h6
                $4.25
          %tr
            %td
              %h6
                Parfait
              %div.sans-serif.food-desc
                Yogurt and house-made granola topped with seasonal fruit
            %td
              %h6
                $4.99

      %div.container-fluid.to-top-link
        = link_to "#top" do
          Top of Menu &#8593;

    %div.col-md-3