%div.container-fluid
  %div.row-fluid#breakfast
    %div.col-md-3
    %div.col-md-6
      %div.pdf_div
        %span.glyphicon.glyphicon-download-alt
        &nbsp;
        = link_to( 'Download Breakfast Menu', menu_download_url(:menu => "breakfast") )
        
      %br

      %h3
        Breakfast - Morning
      %h6.sans-serif#breakfast-hours
        Served weekdays from 6:30a - 10:30a

      %br
      %div.table-responsive
        %table.table.table-striped
          %tr
            %td
              %h6
                Breakfast Sandwich
              %div.sans-serif.food-desc
                Eggs, Swiss, and cheddar on toasted croissant
            %td
              %h6
                $5.00
          %tr
            %td.food-adds
              %h6
                Add spinach and tomato
              %div.sans-serif.food-desc
            %td
              %h6
                $1.25
          %tr
            %td.food-adds
              %h6
                Add ham, bacon, or sausage patty
              %div.sans-serif.food-desc
            %td
              %h6
                $3.25
          %tr
            %td.food-adds
              %h6
                Add ham, bacon, or sausage patty and veggies
              %div.sans-serif.food-desc
            %td
              %h6
                $3.25
          %tr
            %td
              %h6
                Scrambled Eggs and Toast (GF available)
              %div.sans-serif.food-desc
                3 eggs scrambled, served with your choice of wheat or sourdough toast
            %td
              %h6
                $4.25
          %tr
            %td
              %h6
                Hashbrown Bake Platter
              %div.sans-serif.food-desc
                Our delicious oven-baked hashbrowns made with ham, bacon, sausage, cheddar and provolone,
                served with 3 scrambled eggs and your choice of wheat or sourdough toast
            %td
              %h6
                $8.25
          %tr
            %td
              %h6
                Deluxe Oatmeal
              %div.sans-serif.food-desc
                Topped with banana and steamed milk, with brown sugar on the side
            %td
              %h6
                $5.25
          %tr
            %td
              %h6
                House-made Granola and Milk
              %div.sans-serif.food-desc
            %td
              %h6
                $3.99

      %div.container-fluid.to-top-link
        = link_to "#top" do
          Top of Menu &#8593;
                
    %div.col-md-3