%div.container-fluid
  %div.row-fluid#breakfast-extras
    %div.col-md-3
    %div.col-md-6
      %h3
        Breakfast Extras - Morning
      %h6.sans-serif#breakfast-hours
        Served weekdays from 6:30a - 10:30a
      %br
      %div.table-responsive
        %table.table.table-striped
          %tr
            %td
              %h6
                Scrambled Eggs
              %div.sans-serif.food-desc
                One scrambled egg.  Add extra eggs for $0.75 each
            %td
              %h6
                $1.00
          %tr
            %td
              %h6
                Hardboiled Egg
              %div.sans-serif.food-desc

            %td
              %h6
                $1.50
          %tr
            %td
              %h6
                Side of Bacon
              %div.sans-serif.food-desc
            %td
              %h6
                $2.00
          %tr
            %td
              %h6
                Side of Sausage Patty
              %div.sans-serif.food-desc
            %td
              %h6
                $2.00
          %tr
            %td
              %h6
                Toast
              %div.sans-serif.food-desc
                Wheat or sourdough.  GF white available for $1.50 more
            %td
              %h6
                $1.50

      %div.container-fluid.to-top-link
        = link_to "#top" do
          Top of Menu &#8593;

    %div.col-md-3