%div.container-fluid
  %div.row-fluid#breakfast
    %div.col-md-3
    %div.col-md-6
      %div.pdf_div
        %span.glyphicon.glyphicon-download-alt
        &nbsp;
        = link_to( 'Download Breakfast Menu', menu_download_url(:menu => "breakfast") )
        
      %br

      %h3
        Breakfast - Morning
      %h6.sans-serif#breakfast-hours
        Served weekdays from 6:30a - 10:30a

      %br
      %div.table-responsive
        %table.table.table-striped
          %tr
            %td
              %h6
                Breakfast Sandwich
              %div.sans-serif.food-desc
                Scrambled eggs and cheese on a croissant.  Add tomato and spinach for $1.00; Add ham, bacon, or sausage for $2.00
            %td
              %h6
                $5.50
          %tr
            %td
              %h6
                Scrambled Eggs and Toast
              %div.sans-serif.food-desc
                Three scrambled eggs and toast
            %td
              %h6
                $3.75
          %tr
            %td
              %h6
                Baked Hashbrowns Platter
              %div.sans-serif.food-desc
                Our Baked Hashbrowns with two scrambled eggs and toast.  A complete breakfast
            %td
              %h6
                $7.75
          %tr
            %td
              %h6
                Deluxe Oatmeal
              %div.sans-serif.food-desc
                Oatmeal, our house-made granola, bananas and a side of brown sugar, topped with steamed milk
            %td
              %h6
                $5.25
          %tr
            %td
              %h6
                Granola and Milk
              %div.sans-serif.food-desc
                Our version of Muesli.  House-made granola and steamed or cold milk topped with berries
            %td
              %h6
                $3.99

      %div.container-fluid.to-top-link
        = link_to "#top" do
          Top of Menu &#8593;
                
    %div.col-md-3