%div.table-responsive
  %table.table.table-striped
    %tr
      %th#menu-header
        Salads
        %div.sans-serif#menu-sub-header
      %th.lunch-portions
        Half
      %th.lunch-portions
        Whole
    %tr
      %td
        %h6
          Gorgonzola
        %div.sans-serif.food-desc
          Romaine lettuce, tomatoes, red onions, gorgonzola, and toasted walnuts tossed with house-made creamy gorgonzola dressing
      %td.lunch-portions
        %h6
          $4.99
      %td.lunch-portions
        %h6
          $8.49
    %tr
      %td
        %h6
          Chopped Italian
        %div.sans-serif.food-desc
          Chopped romaine, red onions, Italian giardiniera and parmesan cheese tossed with balsamic vinaigrette dressing
      %td.lunch-portions
        %h6
          $4.99
      %td.lunch-portions
        %h6
          $8.49
    %tr
      %td
        %h6
          Spring Greens
        %div.sans-serif.food-desc
          Spring greens tossed with house-made sweet and sour vinaigrette dressing
      %td.lunch-portions
        %h6
          $3.99
      %td.lunch-portions
        %h6
          $6.99
    %tr
      %td
        %h6
          Greek
        %div.sans-serif.food-desc
          Romaine lettuce, feta, red onions, cucumbers, tomatoes, and kalamata olives tossed with balsamic vinaigrette dressing
      %td.lunch-portions
        %h6
          $4.99
      %td.lunch-portions
        %h6
          $8.49
    %tr
      %td
        %h6
          MN Wild Rice
        %div.sans-serif.food-desc
          Spring greens, wild rice, shredded carrots, craisins, toasted pecans, and red onions tossed with balsamic vinaigrette dressing
      %td.lunch-portions
        %h6
          $4.99
      %td.lunch-portions
        %h6
          $8.49
    %tr
      %td
        %h6
          Apple Walnut Salad
        %div.sans-serif.food-desc
          Spring greens, apples, toasted walnuts, and gorgonzola tossed with creamy poppy seed dressing
      %td.lunch-portions
        %h6
          $4.99
      %td.lunch-portions
        %h6
          $8.49
    %tr
      %td
        %h6
          Add Deli Meat
      %td.lunch-portions
      %td.lunch-portions
        %h6
          $2.00
    %tr
      %td
        %h6
          Add Hard Boiled Egg
      %td.lunch-portions
      %td.lunch-portions
        %h6
          $1.50
    %tr
      %td
        %h6
          Add Veggie
      %td.lunch-portions
      %td.lunch-portions
        %h6
          $1.00
    %tr
      %td
        %h6
          Add Cheese
      %td.lunch-portions
      %td.lunch-portions
        %h6
          $1.50
    %tr
      %td
        %h6
          Substitute GF Dinner Roll
      %td.lunch-portions
      %td.lunch-portions
        %h6
          $1.50

%div.container-fluid.to-top-link
  = link_to "#top" do
    Top of Menu &#8593;

%br