%div.table-responsive
  %table.table.table-striped
    %tr
      %th#menu-header
        Half and Half
        %div.sans-serif#menu-sub-header
      %th.lunch-portions
      %th.lunch-portions
    %tr
      %td
        %h6
          1/2 and 1/2
        %div.sans-serif.food-desc
          Choose 1/2 of any two items: sandwich, salad, or soup
      %td.lunch-portions
        %h6
          $9.49
      %td.lunch-portions
        %h6
    %tr
      %td
        %h6
          1/2 and 1/2 (with 4 Cheese)
        %div.sans-serif.food-desc
      %td.lunch-portions
        %h6
          $8.49
      %td.lunch-portions
        %h6
        
%div.container-fluid.to-top-link
  = link_to "#top" do
    Top of Menu &#8593;

%br