%div.table-responsive
  %table.table.table-striped
    %tr
      %th#menu-header
        Soups
        %div.sans-serif#menu-sub-header
          House-made soups served with bread. Meat and veggie options available daily
      %th.lunch-portions
        Cup
      %th.lunch-portions
        Bowl
    %tr
      %td
        %h6
      %td.lunch-portions
        $4.79
      %td.lunch-portions
        $5.79

%div.container-fluid.to-top-link
  = link_to "#top" do
    Top of Menu &#8593;

%br