%div.table-responsive
  %table.table.table-striped
    %tr
      %th#menu-header
        Soups
        %div.sans-serif#menu-sub-header
          All come with a toasted dinner roll
      %th.lunch-portions
        Cup
      %th.lunch-portions
        Bowl
    %tr
      %td
        %h6
          Meat and Veggie options available daily
      %td.lunch-portions
        $4.50
      %td.lunch-portions
        $5.50

%br

%div.container-fluid.to-top-link
  = link_to "#top" do
    Top of Menu &#8593;