%div.container-fluid.hidden#beverages-menu
  %div.row-fluid
    %div.col-md-3
    %div.col-md-6
      %div.pdf_div
        %span.glyphicon.glyphicon-download-alt
        &nbsp;
        = link_to( 'Download Breakfast Menu', menu_download_url(:menu => "rptDrinksMenu") )
        
      %br

      %h3
        Beverages
      %br
      %div.table-responsive
        %table.table.table-striped
          %tr
            %td
              %h6
                Brewed Coffee
              %div.sans-serif.food-desc
                Dark, Light, and Decaf served daily
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Latte
              %div.sans-serif.food-desc
                Espresso and steamed milk, topped with foam
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Cappuccino
              %div.sans-serif.food-desc
                Espresso, a little steamed milk, extra of foam
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Hot Chocolate
              %div.sans-serif.food-desc
                Chocolate and steamed milk, topped with whipped cream
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Mocha
              %div.sans-serif.food-desc
                Espresso, chocolate, and steamed milk, topped with whipped cream
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Miel
              %div.sans-serif.food-desc
                Espresso, honey, and steamed milk, topped with foam
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Cubano
              %div.sans-serif.food-desc
                Espresso, brown sugar, and steamed milk, topped with foam
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Breve
              %div.sans-serif.food-desc
                Espresso and steamed 1/2 & 1/2, topped with foam
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Chai Latte
              %div.sans-serif.food-desc
                Big Train Chai and steamed milk topped with cinnamon
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Espresso
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Hot Tea (2 bags)
              %div.sans-serif.food-desc
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Cold Press
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Iced Tea
              %div.sans-serif.food-desc
                Numi High Mountain black iced tea
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Lemonade
              %div.sans-serif.food-desc
                Our own secret recipe.  Not too sweet, not too sour - just refreshing
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Arnold Palmer
              %div.sans-serif.food-desc
                A perfect blen of iced tea and lemonade
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
          %tr
            %td
              %h6
                Coffee Smoothie
              %div.sans-serif.food-desc
                Cold, sweet blended coffee
            %td.drink-portions
            %td.drink-portions
            %td.drink-portions
      %br
      
      %div.container-fluid.to-top-link
        = link_to "#top" do
          Top of Menu &#8593;

    %div.col-md-3