%div.container-fluid.hidden#lunch-menu
  %div.row-fluid
    %div.col-md-3
    %div.col-md-6
      %div.pdf_div
        %span.glyphicon.glyphicon-download-alt
        &nbsp;
        = link_to( 'Download Lunch Menu', menu_download_url(:menu => "lunch") )
        
      %br
      
      %h3
        Lunch
      %h6.sans-serif#breakfast-hours
        Available after 10:30a
      %br

      = render :partial => "lunch_sandwiches"
      
      %br                
      %br
      %br

      = render :partial => "lunch_salads"

      %br
      %br
      %br

      = render :partial => "lunch_soups"

    %div.col-md-3