%div.container-fluid
  %div.row-fluid.nav-row-container
    %div.row-fluid#menu-nav
      %div.col-md-4
      %div.col-md-4
        %ul.nav.nav-pills.nav-justified
          %li
            = link_to "Bakery", "#bakery"
          %li
            = link_to "Breakfast", "#breakfast"
          %li
            = link_to "Lunch", "#lunch"
          %li
            = link_to "Beverages", "#beverages"

      %div.col-md-4