%div.container-fluid#bakery-menu
  %div.row-fluid
    %div.col-md-3
    %div.col-md-6
      %h3
        Bakery
      %br
      %div.table-responsive
        %table.table.table-striped.sans-serif
          %tr
            %td.item-name
              %h6
                Caramel Roll
            %td.item-price
              %h6
                $2.99
          %tr
            %td.item-name
              %h6
                Bacon Caramel Roll
            %td.item-price
              %h6
                $3.50
          %tr
            %td.item-name
              %h6
                Cinnamon Roll
            %td.item-price
              %h6
                $2.75
          %tr
            %td.item-name
              %h6
                Coffee Cake
            %td.item-price
              %h6
                $3.50
          %tr
            %td.item-name
              %h6
                Scone
            %td.item-price
              %h6
                $2.50
          %tr
            %td.item-name
              %h6
                Cookie
            %td.item-price
              %h6
                $1.25
          %tr
            %td.item-name
              %h6
                Cake Cookie
            %td.item-price
              %h6
                $1.65
          %tr
            %td.item-name
              %h6
                Shortbread
            %td.item-price
              %h6
                $1.25
          %tr
            %td.item-name
              %h6
                Biscotti
            %td.item-price
              %h6
                $1.50
          %tr
            %td.item-name
              %h6
                Bar
            %td.item-price
              %h6
                $3.00

      %div.container-fluid.to-top-link
        = link_to "#top" do
          Top of Menu &#8593;

    %div.col-md-3