%div.container-fluid.hidden#beverages-menu
  %div.row-fluid
    %div.col-md-3
    %div.col-md-6
      %h3
        Beverages
      %br
      %div.table-responsive
        %table.table.table-striped
          %tr
            %th
            %th.drink-portions
              Small
            %th.drink-portions
              Medium
            %th.drink-portions
              Large
          %tr
            %td
              %h6
                Brewed Coffee
              %div.sans-serif.food-desc
                Dark, Light, and Decaf served daily
            %td.drink-portions
              %h6
                $1.95
            %td.drink-portions
              %h6
                $2.35
            %td.drink-portions
              %h6
                $2.69
          %tr
            %td
              %h6
                Latte
              %div.sans-serif.food-desc
                Espresso and steamed milk, topped with foam
            %td.drink-portions
              %h6
                $3.39
            %td.drink-portions
              %h6
                $3.86
            %td.drink-portions
              %h6
                $4.32
          %tr
            %td
              %h6
                Cappuccino
              %div.sans-serif.food-desc
                Espresso, a little steamed milk, extra of foam
            %td.drink-portions
              %h6
                $3.39
            %td.drink-portions
              %h6
                $3.86
            %td.drink-portions
              %h6
                $4.32
          %tr
            %td
              %h6
                Hot Chocolate
              %div.sans-serif.food-desc
                Chocolate and steamed milk, topped with whipped cream
            %td.drink-portions
              %h6
                $3.39
            %td.drink-portions
              %h6
                $3.86
            %td.drink-portions
              %h6
                $4.32
          %tr
            %td
              %h6
                Mocha
              %div.sans-serif.food-desc
                Espresso, chocolate, and steamed milk, topped with whipped cream
            %td.drink-portions
              %h6
                $3.86
            %td.drink-portions
              %h6
                $4.32
            %td.drink-portions
              %h6
                $4.78
          %tr
            %td
              %h6
                Miel
              %div.sans-serif.food-desc
                Espresso, honey, and steamed milk, topped with foam
            %td.drink-portions
              %h6
                $3.86
            %td.drink-portions
              %h6
                $4.32
            %td.drink-portions
              %h6
                $4.78
          %tr
            %td
              %h6
                Cubano
              %div.sans-serif.food-desc
                Espresso, brown sugar, and steamed milk, topped with foam
            %td.drink-portions
              %h6
                $3.86
            %td.drink-portions
              %h6
                $4.32
            %td.drink-portions
              %h6
                $4.78
          %tr
            %td
              %h6
                Breve
              %div.sans-serif.food-desc
                Espresso and steamed 1/2 & 1/2, topped with foam
            %td.drink-portions
              %h6
                $3.86
            %td.drink-portions
              %h6
                $4.32
            %td.drink-portions
              %h6
                $4.78
          %tr
            %td
              %h6
                Chai Latte
              %div.sans-serif.food-desc
                Big Train Chai and steamed milk topped with cinnamon
            %td.drink-portions
              %h6
                $3.86
            %td.drink-portions
              %h6
                $4.32
            %td.drink-portions
              %h6
                $4.78
          %tr
            %td
              %h6
                Espresso
            %td.drink-portions
              %h6
                $2.25
                %br
                (2 shots)
            %td.drink-portions
              %h6
                :plain
                  -
            %td.drink-portions
              %h6
                $2.79
                %br
                (4 shots)
          %tr
            %td
              %h6
                Cold Press
            %td.drink-portions
              %h6
                :plain
                  -
            %td.drink-portions
              %h6
                $4.32
            %td.drink-portions
              %h6
                $4.78
          %tr
            %td
              %h6
                Iced Tea
              %div.sans-serif.food-desc
                Numi High Mountain black iced tea
            %td.drink-portions
              %h6
                :plain
                  -
            %td.drink-portions
              %h6
                $2.25
            %td.drink-portions
              %h6
                $2.75
          %tr
            %td
              %h6
                Lemonade
              %div.sans-serif.food-desc
                Our own secret recipe.  Not too sweet, not too sour - just refreshing
            %td.drink-portions
              %h6
                :plain
                  -
            %td.drink-portions
              %h6
                $2.25
            %td.drink-portions
              %h6
                $2.75
          %tr
            %td
              %h6
                Arnold Palmer
              %div.sans-serif.food-desc
                A perfect blen of iced tea and lemonade
            %td.drink-portions
              %h6
                :plain
                  -
            %td.drink-portions
              %h6
                $2.25
            %td.drink-portions
              %h6
                $2.75
          %tr
            %td
              %h6
                Coffee Smoothie
              %div.sans-serif.food-desc
                Cold, sweet blended coffee
            %td.drink-portions
              %h6
                :plain
                  -
            %td.drink-portions
              %h6
                $4.80
            %td.drink-portions
              %h6
                :plain
                  -
      %br
      
      %div.container-fluid.to-top-link
        = link_to "#top" do
          Top of Menu &#8593;

    %div.col-md-3