%a#top
%div.container-fluid
  %div.row-fluid
    %div.col-md-2
    %div.col-md-8.page-header
      %div.container-fluid.header-container
        %h3.main-header
          Catering
    %div.col-md-2

%div.container-fluid
  %div.row-fluid
    %div.col-md-2
    %div.col-md-8
      %div.content-text
        %div.pdf_div
          %span.glyphicon.glyphicon-download-alt
          &nbsp;
          = link_to( 'Download Catering Menu', menu_download_url(:menu => "rptCateringMenu") )

        %br
        %br

        %p.sans-serif.center
          Are you planning an upscale continental breakfast for a home or office event? 
          Swede Hollow Café’s mouthwatering quiche and freshly baked cinnamon rolls always get great reviews!  Add a pot of our great coffee and a fruit platter and you will be all set. 
          
          %br
          %br

          Or … perhaps, you are planning a working lunch meeting at your office.  Why not order Swede Hollow Café’s box lunches for your meeting?  Box lunches include one of our signature sandwiches, combined with gourmet potato chips, pickle and biscotti or shortbread. 
          
          %br
          %br

          Is it your turn to bring treats into the office for a special celebration?  How about a platter of Swede Hollow Café’s delicious cookies and assorted bars?
          
          %br
          %br

          Whatever your catering needs, Swede Hollow Café is ready to help make your event memorable.  For more information, please take a look at our catering menu. 
          
          %br
          %br

          An online ordering form is coming soon.  In the meantime, you may email us at
          %span.underline
            = mail_to( "info@swedehollowcafe.com" )
          or call us at
          %a.underline{ href: "tel:6517768810" }
            = number_to_phone( 6517768810, area_code: true )
          for more information or to place an order. 

    %div.col-md-2