%div.container-fluid
  %div.row-fluid
    %div.col-md-2
    %div.col-md-8.page-header
      %div.container-fluid.header-container
        %h3.main-header
          Gallery
    %div.col-md-2

%div.container-fluid#gallery-container
  %div.row-fluid#gallery-row
    %div.col-sm-2.col-md-2.col-lg-2
    %div.col-sm-8.col-md-8.col-md-8
      %div.masonry
        - @images.each do |image|
          %div.image-box.col-sm-4.col-md-4.col-lg-4#instafeed
            = link_to( image_tag( "gallery/#{ File.basename( image ) }", class: "img-responsive img-thumbnail"), image_url( "gallery/#{ File.basename( image ) }" ), class: "fancybox", rel: "gallery" )

    %div.col-sm-2.col-md-2.col-lg-2