%div.table-responsive
  %table.table.table-striped
    %tr
      %th#menu-header
        Sandwiches
        %div.sans-serif#menu-sub-header
          All come with chips and a pickle spear
      %th.lunch-portions
        Half
      %th.lunch-portions
        Whole
    %tr
      %td
        %h6
          Turkey Cheddar
        %div.sans-serif.food-desc
          Turkey, cheddar, cucumber, tomato, red onion, and our basil mayonaise on house-made foccacia
      %td.lunch-portions
        %h6
          $5.00
      %td.lunch-portions
        %h6
          $8.99
    %tr
      %td
        %h6
          Turkey Swiss
        %div.sans-serif.food-desc
          Turkey, swiss, romaine, tomato and our honey mustard mayonaise on toasted ciabatta
      %td.lunch-portions
        %h6
          $5.00
      %td.lunch-portions
        %h6
          $8.99
    %tr
      %td
        %h6
          Ham Swiss
        %div.sans-serif.food-desc
          Ham, swiss, romaine, tomato and our honey mustard mayonaise on toasted ciabatta
      %td.lunch-portions
        %h6
          $5.00
      %td.lunch-portions
        %h6
          $8.99
    %tr
      %td
        %h6
          Ham Brie
        %div.sans-serif.food-desc
          Ham, brie, romaine, and dijon mustard on toasted ciabatta
      %td.lunch-portions
        %h6
          $5.00
      %td.lunch-portions
        %h6
          $8.99
    %tr
      %td
        %h6
          Roast Beef Provolone
        %div.sans-serif.food-desc
          Roast beef, provolone, tomato, roasted red onions and pesto on toasted ciabatta
      %td.lunch-portions
        %h6
          $5.00
      %td.lunch-portions
        %h6
          $8.99
    %tr
      %td
        %h6
          Roast Beef Cheddar
        %div.sans-serif.food-desc
          Roast beef, cheddar, red onion, cucumber, romaine, and roasted red pepper horseradish mayonaise on toasted ciabatta
      %td.lunch-portions
        %h6
          $5.00
      %td.lunch-portions
        %h6
          $8.99
    %tr
      %td
        %h6
          Mediterranean Veggie
        %div.sans-serif.food-desc
          Kalamata olive tapanade, tomato, cucumber, feta cheese, and roasted red onion on house-made foccacia
      %td.lunch-portions
        %h6
          $5.00
      %td.lunch-portions
        %h6
          $8.99
    %tr
      %td
        %h6
          Cucumber Tomato
        %div.sans-serif.food-desc
          Cucumber, tomato, red onions, herbed white bean hummus, spinach, and cheddar on wild rice bread
      %td.lunch-portions
        %h6
          $5.00
      %td.lunch-portions
        %h6
          $8.99
    %tr
      %td
        %h6
          Toasted 4 Cheese
        %div.sans-serif.food-desc
          Cheddar, swiss, smoked provolone, gouda, tomato and our honey mustard mayonaise toasted on sourdough.
          Add turkey, roast beef or ham for $0.75 on half order and $2.00 on whole
      %td.lunch-portions
        %h6
          $4.00
      %td.lunch-portions
        %h6
          $6.99
    %tr
      %td
        %h6
          Box Lunch
        %div.sans-serif.food-desc
          Includes a sandwich, potato chips, pickle, biscotti or shortbread, and an after dinner mint
      %td.lunch-portions
        %h6
          $8.25
        %div.sans-serif.food-desc
          (4 Cheese)
      %td.lunch-portions
        %h6
          $10.25
        %div.sans-serif.food-desc
          (All others)