%div.container-fluid
  %div.row-fluid
    %div.col-md-2
    %div.col-md-8#home-image
      = image_tag( "quiche-wide.jpg", class: "img-responsive", id: "quiche_wide")
    %div.col-md-2

%br

%div.container-fluid
  %div.row-fluid
    %div.col-md-2
    %div.col-md-8
      %div.content-text
        %h1
          Our Story
        %br
        %p.sans-serif
          Our coffee and espresso drinks are delicious and all our food is made in-house. We are a famous for our caramel rolls, but regulars will say that the cinnamon rolls and scones are just as delectable. We serve certain breakfast foods (like Caramelized French Toast and hot slices of Quiche) all day, along with sandwiches, soups and salads. We have new lunch specials every weekday that range from comfort foods to creative, unexpected dishes.  In fair weather, we have seating available on our patio where you can listen to the water falling from an old fountain and see what’s growing in the vegetable gardens. We are all very friendly, and we already like you. Come in and visit.

    %div.col-md-2

%br
%br

%h2
  Daily Specials:

%div.container-fluid#daily-specials
  %div.row-fluid
    %div.col-md-2
    %div.col-md-8#specials-column
      .like-box-container
        %iframe{allowtransparency: "true", frameborder: "0", scrolling: "no", src: "//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FSwedeHollowCafe&width&height=395&colorscheme=light&show_faces=false&header=false&stream=true&show_border=true&appId=147219862027659", style: "border:none; overflow:hidden; width: 100%; height:395px;"}
    %div.col-md-2