%div.container-fluid
  %div.row-fluid
    %div.col-md-2
    %div.col-md-8.page-header
      %div.container-fluid.header-container
        %h3.main-header
          About Us
    %div.col-md-2

%div.container-fluid
  %div.row-fluid
    %div.col-md-2
    %div.col-md-8
      %div.container-fluid
        = image_tag( "old_swede_hollow.png", class: "img-responsive", id: "old-swede-hollow")
        %p
          Swede Hollow Cafe was founded in 1997 in the historic Stutzman building in Dayton’s Bluff on St. Paul’s East Side. Enjoy the stunning view of the downtown skyline. The cafe was named after the history-rich Swede Hollow Park located behind the building. The unique area has been featured on various PBS documentaries.
    %div.col-md-2